

.log-in{

    background-color: #152238;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

}


.log-in .login-form{

    position: absolute;
    z-index: 1000;


    color: #51c7ff;
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 2vw;
}

.title{
    width: 40vw;
    position: absolute;
    z-index: 3;

    background: rgba(3, 12, 28, 0.57);
    backdrop-filter: blur(10px);
    border-radius: 30px;

    top: 10%;
    border-bottom: #51c7ff solid 1px;
}

.log-in form{
    margin: 10%;
    padding: 5%;

    background: rgba(3, 12, 28, 0.57);
    backdrop-filter: blur(10px);

    border-radius: 20px;
    border: #51c7ff solid 1px;


    position: absolute;
    z-index: 3;
    top: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    height: 30%;
}

.log-in input{
    color : #fceded;
    height: 3vh;
    width: 20vw;
    text-align: center;

    margin: 2px;
    padding: 2%;

    font-size: 1vw;

    background: #408484;
}

.log-in button{
    height: 5vh;

    font-size: 1vw;

    margin: 2%;
    color: #81d5ff;
    border-radius: 20px;
    border: #81d5ff solid 2px;
    background: #152238;
}

.log-in button:hover{
    background: #81d5ff;
    color: #152238;

}

.center-circle{
    position: absolute;
    z-index: 7;
    background: #152238;
    border-radius: 100%;
    border: #81d5ff solid 1px;
    width: 15%;
    height: 15%;
}

.center-line{
    position: relative;
    width: 100%;
    height: 2%;
    background: rgba(90, 219, 219, 0.85);
}

.poke-image{
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60vh;
    width: 60vh;

    border-radius: 100%;
    border: rgba(13, 50, 37, 0.32) dashed 2px;

    animation-name: poke-rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes poke-rotation {
    0%{
       transform: rotate(0deg);
        border: solid;
        height: 60vh;
        width: 60vh;

    }

    10%{
        border: dashed 3px;
        height: 40vh;
        width: 40vh;

    }
    50%{
        border: dotted;
        height: 50vh;
        width: 50vh;
    }

    55%{
        height: 40vh;
        width: 40vh;
    }
    60%{
        border: dashed;
    }

    100%{
        transform: rotate(3600deg);
        border: solid;
        height: 60vh;
        width: 60vh;
    }

}

.user-dont-exist{
    position: absolute;
    height: 40vh;
    width: 50vw;

    z-index: 3000;
    background: #3b190c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #81d5ff;

    border-radius: 30px;

    border: #fceded solid 1px;
}

.user-dont-exist>h1{
    font-size: 1.5vw;
}
.user-dont-exist>h2{
    font-size: 1vw;
}

.incorrect-password{
    position: absolute;
    z-index: 6000;

    background: rgba(81, 199, 255, 0.83);

    font-size: 2vw;
    font-weight: bold;
}