/* Pagination (Pagination list) -------------*/

.pagination-container {

    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination {
    display: flex;
    justify-content: space-around;
    width: 50vw;

    list-style: none;


}

.page-button {
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
    width: 1.8vw;

    cursor: pointer;

    background: #51c7ff;

    border: #34d5a7 solid 4px;
    border-radius: 20px;
}

.active-Button {
    background: #03a566;

    user-select: none;

}

.nextButton {
    cursor: pointer;

    background: #34d5a7;
    height: 5vh;
    width: 7vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;

    user-select: none;

    border-radius: 20px;
}

.previous-button {

    cursor: pointer;

    background: #34d5a7;
    height: 5vh;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;

    user-select: none;

    border-radius: 20px;
}

/*end pagination -------------*/