
.pokedex-types{
    position: absolute;
    top : 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: #001b4b;
}

.pokedex-types>.pokedex-header{

    height: 10vh;
}

.pokedex-header>h1{
    text-align: center;
    font-size: 3vw;
    color: #51c7ff;
}

.poke-card-container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




/*Home Button -------------*/
.home-button{
    position: absolute;
    top: 5vh;
    left: 5vw;

    height: 7vh;
    width: 4vw;

    border-radius: 20px;
}
.home-button button {
    height: 100%;
    width: 100%;

    background: #073ba7;
    font-size: 1vw;
    font-weight: bold;
    color: #51c7ff;
    border-radius: 20px;

    cursor: pointer;
}

.home-button button:hover{
    background: #51c7ff;
    color: #001b4b;
}

/* end Home Button -------------*/
